<div class="app-wrapper">
  <header class="app-target-header">
    <div class="app-container">
      <div class="app-target-header__grid">
        <div class="--left">
          <svg width="134" height="50">
            <use xlink:href="/icons.svg#logotype"></use>
          </svg>
          <span class="app-target-header__label ml-12 mt-6">Targets</span>
        </div>
        <div class="--right">
          <a href="#" class="app-button app-button-white app-button-text-normal"><span>Войти</span></a>
        </div>
      </div>
    </div>
  </header>


  <main>

    <section class="app-target-brand">
      <div class="app-container">
        <div class="app-target-brand__grid">
          <div class="--left">
            <img class="app-target-brand__img" src="./brands/brand-01.png" alt="brand" title="brand"/>
            <div class="app-target-brand__name">ПАО "Группа Позитив" (POSI)</div>
          </div>
          <div class="--right">
            <div class="app-target-brand__value">
              <span>3114.2 RUB</span>
              <span>Текущая цена</span>
            </div>
            <div class="app-target-brand__value ">
              <span class="cl-green">+0.46%</span>  <!--cl-red-->
              <span>Сегодня</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="app-target-forecast">
      <div class="app-container">
        <div class="app-target-forecast__grid">
          <div class="--left">

            <div class="app-target-forecast__anal">
              <div class="app-target-forecast__anal-header">
                <div class="app-target-section__title">Прогноз цены от аналитиков</div>
                <div class="app-target-section__tabs">
                  <div class="--tab active">Текущие (256)</div>
                  <div class="--tab">Архив</div>
                </div>
              </div>
              <div class="app-target-forecast__anal-caption">
                <div class="cell first"><span>Аналитик</span></div>
                <div class="cell f2"><span class="sort">Дата</span></div>
                <div class="cell f3"><span>Потенциал</span></div>
                <div class="cell f4"><span class="sort active-asc">Цель</span></div>
                <div class="cell f5 last"><span>Вкл.</span></div>
              </div>
              <div class="app-target-forecast__acw">
                <div class="app-target-forecast__anal-card disabled">
                <div class="cell first">
                  <div class="--brand">
                    <img class="--brand-img"
                         src="https://invest-idei.ru/images/upload/brokers/3b8d8c40669b9c749c76d2fe7a366256.JPG"
                         alt=""/>
                    <div class="--brand-name">КИТ Финанс</div>
                    <div class="--brand-owner">А. Добровольский</div>
                  </div>
                </div>
                <div class="cell f2">
                  <div class="--date">12.04.2024</div>
                </div>
                <div class="cell f3">
                  <div class="--profit">18.81%</div>
                </div>
                <div class="cell f4">
                  <div class="--goal cl-green">3700 RUB</div>
                </div>
                <div class="cell f5 last">
                  <div class="app-dropdown" data-dropdown>
                    <button class="app-link" data-dropdown-button>
                      <svg width="18" height="5">
                        <use xlink:href="/icons.svg#dots"></use>
                      </svg>
                    </button>
                    <div class="app-dropdown-menu --pos-right">
                      <div class="app-dropdown-links">
                        <a href="#" class="app-link">All</a>
                        <a href="#" class="app-link">Latest</a>
                        <a href="#" class="app-link">Popular</a>
                      </div>
                      <div class="app-dropdown-links">
                        <a href="#" class="app-link">Twitter</a>
                        <a href="#" class="app-link">Newsletter</a>
                        <a href="#" class="app-link">Discord</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="app-target-forecast__acw">
                <div class="app-target-forecast__anal-card">
                <div class="cell first">
                  <div class="--brand">
                    <img class="--brand-img"
                         src="https://invest-idei.ru/images/upload/brokers/3b8d8c40669b9c749c76d2fe7a366256.JPG"
                         alt=""/>
                    <div class="--brand-name">КИТ Финанс</div>
                    <div class="--brand-owner">А. Добровольский</div>
                  </div>
                </div>
                <div class="cell f2">
                  <div class="--date">12.04.2024</div>
                </div>
                <div class="cell f3">
                  <div class="--profit">18.81%</div>
                </div>
                <div class="cell f4">
                  <div class="--goal cl-green">3700 RUB</div>
                </div>
                <div class="cell f5 last">
                  <div class="app-dropdown" data-dropdown>
                    <button class="app-link" data-dropdown-button>
                      <svg width="18" height="5">
                        <use xlink:href="/icons.svg#dots"></use>
                      </svg>
                    </button>
                    <div class="app-dropdown-menu --pos-right">
                      <div class="app-dropdown-links">
                        <a href="#" class="app-link">All</a>
                        <a href="#" class="app-link">Latest</a>
                        <a href="#" class="app-link">Popular</a>
                      </div>
                      <div class="app-dropdown-links">
                        <a href="#" class="app-link">Twitter</a>
                        <a href="#" class="app-link">Newsletter</a>
                        <a href="#" class="app-link">Discord</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="app-target-forecast__acw">
                <div class="app-target-forecast__anal-card">
                  <div class="cell first">
                    <div class="--brand">
                      <img class="--brand-img"
                           src="https://invest-idei.ru/images/upload/brokers/3b8d8c40669b9c749c76d2fe7a366256.JPG"
                           alt=""/>
                      <div class="--brand-name">Hindenburg Research</div>
                    </div>
                  </div>
                  <div class="cell f2">
                    <div class="--date">12.04.2024</div>
                  </div>
                  <div class="cell f3">
                    <div class="--profit">18.81%</div>
                  </div>
                  <div class="cell f4">
                    <div class="--goal cl-red">133 RUB</div>
                    <div class="--goal-hint">Продавать</div>
                  </div>

                  <div class="cell f5 last">
                    <div class="app-dropdown" data-dropdown>
                      <button class="app-link" data-dropdown-button>
                        <svg width="18" height="5">
                          <use xlink:href="/icons.svg#dots"></use>
                        </svg>
                      </button>
                      <div class="app-dropdown-menu --pos-right">
                        <div class="app-dropdown-links">
                          <a href="#" class="app-link">All</a>
                          <a href="#" class="app-link">Latest</a>
                          <a href="#" class="app-link">Popular</a>
                        </div>
                        <div class="app-dropdown-links">
                          <a href="#" class="app-link">Twitter</a>
                          <a href="#" class="app-link">Newsletter</a>
                          <a href="#" class="app-link">Discord</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="--idea-corner">
                  <a href="/" class="--idea-corner-link">
                    <svg width="13" height="13">
                      <use xlink:href="/icons.svg#idea"></use>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="app-target-forecast__acw">
                <div class="app-target-forecast__anal-card">
                  <div class="cell first">
                    <div class="--brand">
                      <img class="--brand-img"
                           src="https://invest-idei.ru/images/upload/brokers/3b8d8c40669b9c749c76d2fe7a366256.JPG"
                           alt=""/>
                      <div class="--brand-name">DDS</div>
                    </div>
                  </div>
                  <div class="cell f2">
                    <div class="--date">12.04.2024</div>
                  </div>
                  <div class="cell f3">
                    <div class="--profit">13.81%</div>
                  </div>
                  <div class="cell f4">
                    <div class="--goal cl-yellow">850 RUB</div>
                    <div class="--goal-hint">Держать</div>
                  </div>
                  <div class="cell f5 last">
                    <div class="app-dropdown" data-dropdown>
                      <button class="app-link" data-dropdown-button>
                        <svg width="18" height="5">
                          <use xlink:href="/icons.svg#dots"></use>
                        </svg>
                      </button>
                      <div class="app-dropdown-menu --pos-right">
                        <div class="app-dropdown-links">
                          <a href="#" class="app-link">All</a>
                          <a href="#" class="app-link">Latest</a>
                          <a href="#" class="app-link">Popular</a>
                        </div>
                        <div class="app-dropdown-links">
                          <a href="#" class="app-link">Twitter</a>
                          <a href="#" class="app-link">Newsletter</a>
                          <a href="#" class="app-link">Discord</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="--idea-corner">
                  <a href="/" class="--idea-corner-link">
                    <svg width="13" height="13">
                      <use xlink:href="/icons.svg#idea"></use>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="app-target-forecast__acw">
                <div class="app-target-forecast__anal-card">
                  <div class="cell first">
                    <div class="--brand">
                      <img class="--brand-img"
                           src="https://invest-idei.ru/images/upload/brokers/3b8d8c40669b9c749c76d2fe7a366256.JPG"
                           alt=""/>
                      <div class="--brand-name">КИТ Финанс</div>
                      <div class="--brand-owner">А. Добровольский</div>
                    </div>
                  </div>
                  <div class="cell f2">
                    <div class="--date">12.04.2024</div>
                  </div>
                  <div class="cell f3">
                    <div class="--profit">18.81%</div>
                  </div>
                  <div class="cell f4">
                    <div class="--goal cl-green">3700 RUB</div>
                  </div>
                  <div class="cell f5 last">
                    <div class="app-dropdown" data-dropdown>
                      <button class="app-link" data-dropdown-button>
                        <svg width="18" height="5">
                          <use xlink:href="/icons.svg#dots"></use>
                        </svg>
                      </button>
                      <div class="app-dropdown-menu --pos-right">
                        <div class="app-dropdown-links">
                          <a href="#" class="app-link">All</a>
                          <a href="#" class="app-link">Latest</a>
                          <a href="#" class="app-link">Popular</a>
                        </div>
                        <div class="app-dropdown-links">
                          <a href="#" class="app-link">Twitter</a>
                          <a href="#" class="app-link">Newsletter</a>
                          <a href="#" class="app-link">Discord</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="--idea-corner">
                  <a href="/" class="--idea-corner-link">
                    <svg width="13" height="13">
                      <use xlink:href="/icons.svg#idea"></use>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="app-target-forecast__acw">
                <div class="app-target-forecast__anal-card">
                  <div class="cell first">
                    <div class="--brand">
                      <img class="--brand-img"
                           src="https://invest-idei.ru/images/upload/brokers/3b8d8c40669b9c749c76d2fe7a366256.JPG"
                           alt=""/>
                      <div class="--brand-name">КИТ Финанс</div>
                      <div class="--brand-owner">А. Добровольский</div>
                    </div>
                  </div>
                  <div class="cell f2">
                    <div class="--date">12.04.2024</div>
                  </div>
                  <div class="cell f3">
                    <div class="--profit">18.81%</div>
                  </div>
                  <div class="cell f4">
                    <div class="--goal cl-green">3700 RUB</div>
                  </div>
                  <div class="cell f5 last">
                    <div class="app-dropdown" data-dropdown>
                      <button class="app-link" data-dropdown-button>
                        <svg width="18" height="5">
                          <use xlink:href="/icons.svg#dots"></use>
                        </svg>
                      </button>
                      <div class="app-dropdown-menu --pos-right">
                        <div class="app-dropdown-links">
                          <a href="#" class="app-link">All</a>
                          <a href="#" class="app-link">Latest</a>
                          <a href="#" class="app-link">Popular</a>
                        </div>
                        <div class="app-dropdown-links">
                          <a href="#" class="app-link">Twitter</a>
                          <a href="#" class="app-link">Newsletter</a>
                          <a href="#" class="app-link">Discord</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-24">
              <a href="#" class="app-button app-button-invest app-button-text-normal"><span>Добавить целевую цену</span></a>
            </div>

          </div>
          <div class="--right">
            <div class="app-target-forecast__card">
              <div class="--inner">
                <div class="app-target-section__title">График прогнозов</div>
                <div class="app-target-forecast__graph">
                  <div class="--point --point-first">
                    <span class="--point-value --point-value-top">700 RUB</span>
                    <span class="--point-value --point-value-bottom">Мин.</span>
                  </div>
                  <div class="--point --point-current">
                    <span class="--point-value --point-value-top">3500 RUB</span>
                    <span class="--point-value --point-value-bottom">Текущая</span>
                  </div>
                  <div class="--point --point-next --point-green"> <!-- --point-green ... red ... yellow ... etc -->
                    <div class="--point-value-popup">
                      <div class="--point-value-popup__inner">
                        <div>Средняя цена</div>
                        <div><b>3700 RUB</b></div>
                      </div>
                    </div>
                    <span class="--point-value --point-value-bottom">+6.07%</span>
                  </div>
                  <div class="--point --point-last">
                    <span class="--point-value --point-value-top">4500 RUB</span>
                    <span class="--point-value --point-value-bottom">Макс.</span>
                  </div>
                </div>
              </div>
              <div class="--inner">
                <div class="app-target-section__title">Квартальные отчёты для IR</div>
                <div class="app-target-forecast__reports">
                  <a class="app-target-forecast__report-link" href="#">
                    <span class="--name">Q1 2024</span>
                    <span class="--type">PDF</span>
                    <svg class="--icon" width="24" height="24">
                      <use xlink:href="/icons.svg#export"></use>
                    </svg>
                  </a>
                  <a class="app-target-forecast__report-link" href="#">
                    <span class="--name">Q2 2024</span>
                    <span class="--type">PDF</span>
                    <svg class="--icon" width="24" height="24">
                      <use xlink:href="/icons.svg#export"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="app-target-forecast__card">
              <div class="--inner">
                <div class="app-target-section__title">Покрытие относительно других эмитентов</div>
                <div class="app-target-forecast__graph  --graph-v2">
                  <div class="--point --point-first">
                    <span class="--point-value --point-value-bottom">Низкое</span>
                  </div>
                  <div class="--point --point-middle">
                    <span class="--point-value --point-value-bottom">Среднее</span>
                  </div>
                  <div class="--point --point-last  --point-active-cl-3">
                    <span class="--point-value --point-value-bottom">Высокое</span>
                  </div>
                </div>
                <div class="app-target-forecast__content">
                  <p>У вас больше целевых цен, чем у 75% эмитентов на мосбирже</p>
                </div>
              </div>
            </div>
            <div class="app-target-forecast__card">
              <div class="--inner">
                <div class="app-target-section__title">Потенциал по апсайду</div>
                <div class="app-target-forecast__graph  --graph-v2">
                  <div class="--point --point-first">
                    <span class="--point-value --point-value-bottom">Низкое</span>
                  </div>
                  <div class="--point --point-middle  --point-active-cl-2">
                    <span class="--point-value --point-value-bottom">Среднее</span>
                  </div>
                  <div class="--point --point-last">
                    <span class="--point-value --point-value-bottom">Высокий</span>
                  </div>
                </div>
                <div class="app-target-forecast__content">
                  <p>У вас больше целевых цен, чем у 75% эмитентов на мосбирже</p>
                </div>
              </div>
            </div>
            <div class="app-target-forecast__card">
              <div class="--inner">
                <div class="app-target-section__title">Потенциал по апсайду</div>
                <div class="app-target-forecast__graph  --graph-v2">
                  <div class="--point --point-first  --point-active-cl-1">
                    <span class="--point-value --point-value-bottom">Низкое</span>
                  </div>
                  <div class="--point --point-middle">
                    <span class="--point-value --point-value-bottom">Среднее</span>
                  </div>
                  <div class="--point --point-last">
                    <span class="--point-value --point-value-bottom">Высокий</span>
                  </div>
                </div>
                <div class="app-target-forecast__content">
                  <p>У вас больше целевых цен, чем у 75% эмитентов на мосбирже</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <script type="module" src="./scripts/dropdown.js" defer></script>
</div>