
.app-btn {
    --btn-fs: 10px;
    --btn-size: 36px;
    --btn-weight: 600;
    --btn-indent: 20px;
    --btn-text-spacing: 1.5px;

    --btn-color: transparent;
    --btn-background: transparent;

    --btn-hover-color: var(--btn-color);
    --btn-hover-background: var(--btn-background);

    --btn-active-color: var(--btn-hover-color);
    --btn-active-background: var(--btn-hover-background);

    --btn-disabled-color: var(--btn-color);
    --btn-disabled-background: var(--btn-background);

    border: none;
    background: var(--btn-background);
    color: var(--btn-color);
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: none;
    font-size: var(--btn-fs);
    font-weight: var(--btn-weight);
    letter-spacing: var(--btn-text-spacing);
    min-width: var(--btn-size);
    min-height: var(--btn-size);
    padding: 0 var(--btn-indent);
    white-space: nowrap;
    font-family: "Montserrat", sans-serif;


    @media (hover: hover) {
        &:hover {
            transition-property: color, background-color;
            transition-duration: 0.15s ;
            transition-timing-function: ease-out;
            color: var(--btn-hover-color);
            background: var(--btn-hover-background);
        }
    }

    &:active {
        transition-property: color, background-color;
        transition-duration: 0.15s ;
        transition-timing-function: ease-out;
        color: var(--btn-active-color);
        background: var(--btn-active-background);
    }
}


.app-section-btn {
    --btn-color: white;
    --btn-background: var(--cl-yellow);
    --btn-hover-background: var(--cl-dark-yellow);
    --btn-text-spacing: 3px;
    --btn-indent: 26px;
    --btn-size: 42px;
}


.app-files-btn {
    --btn-color: white;
    --btn-background: #ababab;
    --btn-hover-color: white;
    --btn-hover-background: var(--cl-yellow);
    --btn-text-spacing: 3px;
    --btn-indent: 26px;
    --btn-size: 42px;

    input {
        display: none;
    }
}

.app-header-btn {
    --btn-color: var(--cl-yellow);
    --btn-background: white;
    --btn-weight: 800;
    --btn-text-spacing: 1.8px;
    --btn-hover-color: white;
    --btn-hover-background: var(--cl-yellow);
}